/* TYPOGRAPHY */
$ff-neucha: 'Neucha', 'Comic Sans MS', 'Bradley Hand', 'Segoe Print', 'Lucida Handwriting', cursive;
$ff-arvo: 'Arvo', 'Georgia', 'Times New Roman', 'Palatino Linotype', serif;
$ff-text: $ff-neucha;

/* Font weights */
$fw-regular: 400;
$fw-bold: 700;

/** h1 **/
$title-h1-fz: 64px;
$title-h1-lh: 72px;
$title-h1-fz-mobile: 32px;
$title-h1-lh-mobile: 40px;

/** h2 **/
$title-h2-fz: 32px;
$title-h2-lh: 50px;
$title-h2-fz-mobile: 24px;
$title-h2-lh-mobile: 32px;

/** p1 **/
$text-p1-fz: 16px;
$text-p1-lh: 24px;
$text-p1-fz-mobile: 14px;
$text-p1-lh-mobile: 20px;
