/* Basic */
$cl-black: #000;
$cl-white: #FFF;

/* Pink */
$cl-pink: #FAFCF8;

/* Red */
$cl-red: #F93E3E;
$cl-red-dark: #F9515B;

/* Yellow */
$cl-yellow: #FFC224;

/* Brown */
$cl-brown: #B48770;

/* Green */
$cl-green: #404B43;

/* ALPHA COLORS */
$ca-white-70: rgba($cl-white, .7);
$ca-white-40: rgba($cl-white, .4);
$ca-white-30: rgba($cl-white, .3);

/* BACKGROUNDS */
$bg-layout: $cl-pink;
$bg-dark: $cl-green;
$bg-light: $cl-white;
$bg-white-40: $ca-white-40;
$bg-brown: $cl-brown;

/* BORDER COLORS */
$border-white: $cl-white;
$border-white-30: $ca-white-30;

/* TYPO COLORS */
$text-default: $cl-green;
$text-accent: $cl-red-dark;
$text-black: $cl-black;
$text-contrast: $cl-pink;
