$mb-mobile-sm: 340px; /* < 340 */
$mb-mobile-md: 400px; /* > 340 < 400 */
$mb-mobile-lg: 640px; /* > 400 < 40 */

$mb-tablet-portrait: 900px; /* > 740 < 900 */
$mb-tablet-landscape: 1140px; /* < 1140 */

$mb-desktop-sm: 1320px; /* > 1140 < 1320 */
$mb-desktop-md: 1600px; /* > 1180 < 1600 */
$mb-desktop-lg: $mb-desktop-md + 1; /* > 1601 */

$container-width: 1320px;
$media-queries: (
	mobile: '(max-width: #{$mb-mobile-lg})',
	mobile-sm: '(max-width: #{$mb-mobile-sm})',
	mobile-md: '(min-width: #{($mb-mobile-sm + 1)}) and (max-width: #{$mb-mobile-md})',
	mobile-lg: '(min-width: #{($mb-mobile-md + 1)}) and (max-width: #{$mb-mobile-lg})',

	tablet: '(min-width: #{($mb-mobile-lg + 1)}) and (max-width: #{$mb-tablet-landscape})',
	tablet-sm: '(min-width: #{($mb-mobile-lg + 1)}) and (max-width: #{$mb-tablet-portrait})',
	tablet-lg: '(min-width: #{($mb-tablet-portrait + 1)}) and (max-width: #{$mb-tablet-landscape})',

	desktop: '(min-width: #{($mb-tablet-landscape + 1)})',
	desktop-sm: '(min-width: #{($mb-tablet-landscape + 1)}) and (max-width: #{$mb-desktop-sm})',
	desktop-md: '(min-width: #{($mb-desktop-sm + 1)}) and (max-width: #{$mb-desktop-md})',
	desktop-lg: '(min-width: #{($mb-desktop-lg)})'
);
$media-prefixes: (
	mobile: 'm',
	mobile-sm: 'm-s',
	mobile-md: 'm-m',
	mobile-lg: 'm-l',

	tablet: 't',
	tablet-sm: 't-s',
	tablet-lg: 't-l',

	desktop: 'd',
	desktop-sm: 'd-s',
	desktop-md: 'd-m',
	desktop-lg: 'd-l'
);
