@use '@styles/vars' as *;

.button {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	transition: background-color .2s;
	cursor: pointer;
	appearance: none;
	touch-action: manipulation;

	&:active,
	&:focus {
		outline: 0;
	}
}

.button--primary {
	color: $text-contrast;
	background: $bg-brown;
}

.button--sm {
	padding: 8px 12px;
	border-radius: 12px;
}

.button--lg {
	padding: 14px 18px;
	border-radius: 16px;
}

.button--block {
	width: 100%;
}
