@use '@styles/vars' as *;

$background-blur: blur(25px) saturate(170%) brightness(0.96);
$border: 1px solid $ca-white-30;

.menu {
	position: fixed;
	right: 100px;
	bottom: 100px;
	transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 201;

	@include media(mobile-sm) {
		right: auto;
		left: 0;
	}

	@include media(mobile, tablet) {
		transform: scale(0) translate(-40px, -40px);
		transform-origin: bottom right;
	}

	@include media(desktop) {
		right: auto;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.menu--opened {
	@include media(mobile, tablet) {
		right: 82px;
		transform: scale(1) translate(0, 0);
	}
}

.menu__nav {
	position: relative;
	padding: 0 20vw 0 24px;
	border: $border;
	border-radius: 32px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, .05), 0 0 20px rgba(0, 0, 0, .05);
	user-select: none;
	backdrop-filter: $background-blur;

	@include media(tablet) {
		padding: 0 10vw 0 24px;
	}

	@include media(desktop) {
		flex-direction: column;
		padding: 4px 24px;
	}
}

.menu__nav-list {
	list-style: none;

	@include media(desktop) {
		display: flex;
		flex-direction: row;
	}

	li {
		display: flex;
	}
}

.menu__tab {
	padding: 24px 8px;
	white-space: nowrap;
	text-decoration: none;
	color: $text-default;
	transition: color .2s ease-in-out;
	cursor: pointer;
	z-index: 20;

	@include media(desktop) {
		padding: 24px 16px;
	}

	&:hover {
		color: $text-blue;
	}
}

// Lens
.menu__lens {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	border: $border;
	border-radius: 32px;
	box-shadow: rgba(0, 0, 0, .1) 0 0 0 .5px, rgba(0, 0, 0, .1) 0 3px 5px;
	transform: scale(.8);
	transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275), width .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	pointer-events: none;
	z-index: 0;
	inset: 6px 0;

	&::before {
		content: "";
		position: absolute;
		border-radius: inherit;
		filter: drop-shadow(rgba($cl-black, 0.8) 0 1px 2px);
		inset: 0;

		@include media(desktop) {
			border: 2px solid rgba(255, 255, 255, 0.1);
		}
	}

	&::after {
		position: absolute;
		top: 6px;
		right: 12px;
		left: 12px;
		height: 8px;
		background-color: $cl-white;
		border-radius: 4px;
		filter: opacity(.7) blur(2px);

		@include media(desktop) {
			content: "";
		}
	}
}

.menu-burger {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 82px;
	background-color: transparent;
	border: $border;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, .1) 0 0 0 .5px, rgba(0, 0, 0, .1) 0 3px 5px;
	transform: scale(1);
	transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	z-index: 202;
	heigth: 52px;
	backdrop-filter: $background-blur;
	aspect-ratio: 1/1;

	@include media(desktop) {
		display: none;
	}

	&::before {
		content: "";
		position: absolute;
		border-radius: inherit;
		filter: drop-shadow(rgba($cl-black, .4) 0 1px 2px);
		inset: 0;
	}

	&:hover {
		box-shadow: rgba(0, 0, 0, .1) 0 0 0 .5px, rgba(0, 0, 0, .1) 0 6px 8px;
		transform: scale(1.1);
	}

	&:active {
		box-shadow: none;
		transform: scale(.8);
	}
}
