@use '@styles/vars' as *;

.menu {
	position: fixed;
	right: 68px;
	bottom: 68px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 201;

	@include media(mobile, tablet) {
		transform: scale(0) translate(-40px, -40px);
		transform-origin: bottom right;
	}

	@include media(desktop) {
		top: 20px;
		right: auto;
		bottom: auto;
		left: 50%;
		transform: translateX(-50%);
	}
}

.menu--opened {
	@include media(mobile, tablet) {
		transform: scale(1) translate(0, 0);
	}
}

.menu__nav {
	position: relative;
	padding: 0 20vw 0 24px;
	border-radius: 16px;
	user-select: none;

	@include media(tablet) {
		padding: 0 10vw 0 24px;
	}

	@include media(desktop) {
		flex-direction: column;
		padding: 4px 0;
		border-radius: 32px;
	}
}

.menu__nav-list {
	list-style: none;

	@include media(mobile, tablet) {
		padding-block: 12px;
	}

	@include media(desktop) {
		display: flex;
		flex-direction: row;
	}

	li {
		display: flex;
	}
}

.menu__tab {
	padding: 12px 8px;
	white-space: nowrap;
	text-decoration: none;
	color: var(--text-default);
	transition: color .2s ease-in-out;
	cursor: pointer;
	z-index: 20;

	@include media(desktop) {
		padding: 24px 40px;
	}

	&:hover {
		color: var(--text-blue);
	}
}

.menu-burger {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 48px;
	height: 48px;
	background-color: transparent;
	border-radius: 50%;
	transform: scale(1);
	transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	cursor: pointer;
	z-index: 202;
	heigth: 52px;
	aspect-ratio: 1/1;

	@include media(desktop) {
		display: none;
	}

	&:hover {
		box-shadow: rgba(0, 0, 0, .1) 0 0 0 .5px, rgba(0, 0, 0, .1) 0 6px 8px;
		transform: scale(1.1);
	}

	&:active {
		box-shadow: none;
	}
}

.menu-burger__button {
	width: 100%;
	height: 100%;
	color: var(--cl-red);
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	z-index: 202;
}

.menu-burger__icon-line {
	position: absolute;
	left: 50%;
	width: 60%;
	height: 2px;
	transform: translate(-50%, 0) rotate(0deg);
	transition: transform .2s ease-in-out;
	transform-origin: center;
}

.menu-burger__icon-line--a {
	top: 18px;
}

.menu-burger__icon-line--b {
	top: 28px;
}

.menu-burger--active {
	.menu-burger__icon-line--a {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.menu-burger__icon-line--b {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
