@use '@styles/vars' as *;

.calendly-inline-widget-wrapper {
	visibility: hidden;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $ca-black-50;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
	z-index: 100;
	inset: 0;
}

.calendly-inline-widget-wrapper--opened {
	visibility: visible;
	opacity: 1;
}

.calendly-inline-widget-wrapper__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
	background-color: $bg-white;
	border-radius: 32px;

	@include media(tablet-sm, mobile) {
		padding: 16px;
	}
}
