@use '@styles/vars' as *;

.frame {
	padding: 24px;
	background-color: $bg-white;
	border-radius: 20px;

	@include media(mobile) {
		padding: 12px 16px;
	}
}

.frame--xs {
	padding: 12px;
}

.frame--sm {
	padding: 16px;
}

.frame--lg {
	padding: 24px 32px;

	@include media(mobile) {
		padding: 16px;
	}
}

.frame--xl {
	padding: 42px 32px;

	@include media(mobile) {
		padding: 16px;
	}
}

.frame--xxl {
	padding: 42px;

	@include media(mobile) {
		padding: 24px 16px;
	}
}

.frame--dark {
	color: $text-contrast;
	background-color: $bg-dark;
}

.frame--green {
	background-color: $bg-green-light;
}

.frame--white-10 {
	background-color: $bg-white-10;
	border: 1px solid $border-white-30;
}

.frame--transparent {
	background-color: transparent;
	border: 1px solid $border-white-30;
}

.frame--grey-1 {
	background-color: $bg-grey-1;
}

.frame--grey-2 {
	background-color: $bg-grey-2;
}

.frame--br-40 {
	border-radius: 40px;
}

.frame--br-30 {
	border-radius: 30px;
}

.frame--br-24 {
	border-radius: 24px;
}

.frame--br-20 {
	border-radius: 20px;
}

.frame--br-16 {
	border-radius: 16px;
}

.frame--quarter-round {
	border-bottom-left-radius: 0;
}

.frame--text-white {
	color: $text-contrast;
}

.frame--text-dark {
	color: $text-default;
}

.frame--text-green {
	color: $text-accent;
}

.frame--no-border {
	border: none;
}
