@use "sass:list";
@use "sass:map";
@use "sass:string";
@use 'vars/vars-typography' as *;

$font-path: '/fonts/';

@mixin font-face($fileName: null, $fontFamily: null, $weight: null, $style: null) {
	@font-face {
		font-family: $fontFamily;
		font-style: $style;
		font-weight: $weight;
		src: url($font-path + $fileName + '.woff2') format('woff2');
		font-display: swap;
	}
}

// Fonts
// ===============================================

@include font-face('Neucha', 'Neucha', $fw-regular, normal);
@include font-face('Arvo-Bold', 'Arvo', $fw-bold, normal);
