@use '@styles/vars' as *;

.intro {
	.section__inner {
		align-items: center;
		height: 100vh;
		min-height: max-content;
		text-align: center;
	}
}

.hero__countdown {
	font-variant-numeric: tabular-nums;
}