@use '@styles/vars' as *;

.intro {
	.section__inner {
		@include media(mobile, tablet) {
			align-items: center;
			min-height: 100vh;
			text-align: center;
		}
	}
}

.hero__countdown {
	font-variant-numeric: tabular-nums;
}