@use '@styles/vars' as *;

.text {
	line-height: 1.2;
	letter-spacing: 1px;
	font-family: $ff-neucha;
}

.text--wide {
	letter-spacing: 10px;
}

.text--arvo {
	font-family: $ff-arvo;
}

.text--black {
	color: var(--text-black);
}

.text--contrast {
	color: var(--text-contrast);
}

.text--accent {
	color: var(--text-accent);
}