@use '@styles/vars' as *;

.text {
	letter-spacing: 10px;
	font-family: $fw-regular;
}

.text--arvo {
	font-family: $ff-arvo;
}

.text--black {
	color: $text-black;
}

.text--contrast {
	color: $text-contrast;
}

.text--accent {
	color: $text-accent;
}
