@use '@styles/vars' as *;

.title {
	letter-spacing: 2px;
	font-weight: $fw-regular;

	@include media(tablet, desktop) {
		letter-spacing: 12px;
	}
}

.title--h1 {
		line-height: $title-h1-lh-mobile;
		font-size: $title-h1-fz-mobile;

	@include media(desktop) {
		line-height: $title-h1-lh;
		font-size: $title-h1-fz;

	}
}

.title--h2 {
	line-height: $title-h2-lh-mobile;
	font-size: $title-h2-fz-mobile;

	@include media(desktop) {
		line-height: $title-h2-lh;
		font-size: $title-h2-fz;
	}
}

.title--accent {
	color: $text-accent;
}
