@use '@styles/vars' as *;

.bg-pattern {
	position: absolute;
	top: 100px;
	bottom: 100px;
	width: 160px;
	height: calc(100% + 200px);
	background-position: center;
	background-repeat: repeat-y;
	background-size: contain;
	filter: opacity(.6);

	@include media(desktop) {
		top: 112px;
		width: 400px;
	}
}

.bg-pattern--top,
.bg-pattern--bottom {
	left: 50%;
	width: 100%;
	height: 160px;
	transform: translateX(-50%);

	@include media(desktop) {
		width: calc(($container-width) + 200px);
		height: 400px;
	}
}

.bg-pattern--top {
	top: -40px;

	@include media(desktop) {
		top: -112px;
	}
}

.bg-pattern--right {
	right: -60px;

	@include media(desktop) {
		right: calc(((100vw - $container-width) / 2) - 250px);
	}
}

.bg-pattern--left {
	left: -60px;

	@include media(desktop) {
		left: calc(((100vw - $container-width) / 2) - 250px);
	}
}

.bg-pattern--bottom {
	top: auto;
	bottom: -40px;

	@include media(desktop) {
		bottom: -112px;
	}
}

.parallax-bg {
	position: fixed;
	background: #F8F8F9;
	will-change: transform;
	z-index: -1;
	inset: 0;
}
