@use '@styles/vars' as *;

.what-candidates-say {
	.section__body {
		padding-top: 0;
		padding-bottom: 0;
	}

	.section__title {
		@include media(tablet-sm, mobile) {
			padding-bottom: 8px;
		}
	}
}

.what-candidates-say__slider {
	position: relative;

	@include media(desktop, tablet-lg) {
		margin: 0 -42px;
		padding: 0 84px;
	}

	@include media(tablet-sm) {
		margin: 0 -62px;
	}

	@include media(mobile) {
		margin: 0 -36px;
	}

	.swiper {
		@include media(tablet-sm, mobile) {
			padding: 0 20px;
		}
	}
}

.what-candidates-say__slide {
	height: 100%;
}

.what-candidates-say__slide-emoji {
	margin-right: 16px;
}

.what-candidates-say__reviews {
	display: grid;
	align-items: stretch;
	gap: 12px;
	margin-top: 16px;

	@include media(desktop) {
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		margin-top: 24px;
	}
}

.what-candidates-say__review-rating {
	display: flex;
	gap: 4px;

	@include media(tablet-sm, mobile) {
		gap: 6px;
	}
}

.what-candidates-say__review {
	display: flex;
	flex-direction: column;
	gap: 12px;

	@include media(desktop) {
		gap: 16px;
	}
}

.what-candidates-say__review-footer {
	margin-top: auto;
}