@use '@styles/vars' as *;

.section {
	padding-top: 42px;
	transform: translateZ(0);

	@include media(tablet, mobile) {
		padding-top: 24px;
	}
}

.section__body {
	padding: 42px;
	border-radius: 32px;

	@include media(tablet-sm, mobile) {
		padding: 24px 16px 16px;
	}
}

.section__title {
	margin-bottom: 24px;

	@include media(tablet-sm, mobile) {
		margin-bottom: 16px;
	}
}

.section--dark {
	.section__body {
		color: $text-contrast;
		background-color: $bg-dark;
	}
}

.section--white {
	.section__body {
		background-color: $bg-white;
	}
}

.section--green {
	.section__body {
		background-color: $bg-green-light;
	}
}

.section--white-10 {
	.section__body {
		background-color: $bg-white-10;
	}
}

.section--grey-1 {
	.section__body {
		background-color: $bg-grey-1;
	}
}

.section--grey-2 {
	.section__body {
		background-color: $bg-grey-2;
	}
}

.section--wide {
	.section__title {
		padding-inline: 42px;

		@include media(tablet-sm, mobile) {
			padding-inline: 16px;
		}
	}
}
