@use '@styles/vars' as *;

.testimonial--primary,
.testimonial--secondary {
	display: flex;
	height: 100%;
}

.testimonial--primary {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		background-color: $ca-black-70;
		z-index: 1;
		inset: 0;
	}

	.testimonial-column__image {
		.picture__image {
			position: absolute;
			user-select: none;
			z-index: 0;
			inset: 0;
			object-fit: cover;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.testimonial-column__inner {
		position: relative;
		align-self: flex-end;
		z-index: 2;
	}

	.testimonial-column__message {
		backdrop-filter: blur(12px);
	}

	.testimonial-column__description {
		margin-top: 16px;

		@include media(tablet-sm, mobile) {
			margin-top: 12px;
		}
	}

	.testimonial-column__additional {
		margin-top: 16px;

		@include media(tablet-sm, mobile) {
			margin-top: 12px;
		}
	}

	.testimonial-column__footer-company {
		margin-top: 8px;

		@include media(tablet-sm, mobile) {
			margin-top: 6px;
		}
	}
}

.testimonial--secondary {
	flex-direction: column;
	justify-content: space-between;

	.testimonial__description {
		margin-top: 12px;
	}

	.testimonial__message {
		flex-grow: 1;
	}

	.testimonial__additional {
		display: flex;
		gap: 16px;
		margin-top: 12px;

		@include media(tablet-sm, mobile) {
			gap: 8px;
		}
	}

	.testimonial__image {
		flex-shrink: 0;
		aspect-ratio: 1 / 1;

		.picture__image {
			border-radius: 24px;
			object-fit: cover;
		}
	}

	.testimonial__company {
		margin-top: 6px;
	}
}
