@use '@styles/vars' as *;

.what-talent-leader-say {
	.section__body {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.what-talent-leader-say__body {
	position: relative;

	@include media(desktop, tablet-lg) {
		margin: 0 -42px;
		padding: 0 84px;
	}

	@include media(tablet-sm) {
		margin: 0 -62px;
	}

	@include media(mobile) {
		margin: 0 -36px;
	}

	.swiper {
		@include media(tablet-sm) {
			padding: 0 46px;
		}

		@include media(mobile) {
			padding: 0 20px;
		}
	}
}

.what-talent-leader-say__column {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 14px;
	height: 100%;
}
